/* .gradient-border {
  border: solid 0.3em transparent;
  border-radius: 15px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 100)),
    linear-gradient(
      to top left,
      rgba(230, 18, 64, 0.774),
      rgba(0, 70, 255, 0.5)
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
} */



