
@media (max-width: 430px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  h2 {
    margin-bottom: 0;
  }

  h3,
  a {
    font-size: 0.75em;
  }

  h1 {
    font-size: 1.5em;
  }

  .my-pic {
    height: 150px;
  }

  .welcome-message {
    justify-items: center;
  }

  .menu {
    width: 100%;
    justify-content: space-around;
    align-content: center;
    margin-top: 20px;
    gap: 1px;
  }

  .gradient-border {
    border: solid 0.25em transparent;
  }
}