@media (max-width: 2270px) {
  .welcome-message {
    margin-left: 35%;
  }
}

@media (max-width: 1630px) {
  .welcome-message {
    margin-left: 25%;
  }

  .my-pic {
    height: 250px;
  }

  .container {
    grid-template-columns: 1fr 210px;
  }
}

@media (max-width: 1050px) {
  .header-container {
    gap: 10px;
  }

  .menu-button:active {
    display: grid;
  }

  .welcome-message {
    margin: 0;
  }

  .my-pic {
    height: 200px;
  }

  h1 {
    font-size: 2em;
  }
}

@media (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  h2 {
    margin-bottom: 0;
  }

  .welcome-message {
    align-items: center;
  }

  .welcome-message > * {
    text-wrap-mode: nowrap;
  }

  h3,
  a {
    font-size: 0.75em;
  }

  h1 {
    font-size: 1.5em;
  }

  .my-pic {
    height: 150px;
  }

  .menu-item {
    padding: 0px;
    padding-inline: 2px;
    padding-block-end: 1px;
  }

  ul > div {
    padding-block-end: 1px;
  }

  .menu {
    width: 110%;
    justify-content: space-around;
    margin-top: 20px;
  }

  .gradient-border {
    border: solid 0.25em transparent;
  }
}