@media (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  a {
    font-size: 0.75em;
  }

  h1 {
    font-size: clamp(1.2rem, 7vw, 2.5rem);
  }

  h3 {
    font-size: clamp(0.75rem, 4vw, 2rem);
  }

  .welcome-message {
    text-align: center;
  }

  .menu {
    justify-content: space-around;
    align-content: center;
    margin-top: 20px;
    gap: 1px;
  }

  .menu-item {
    line-height: 11px;
  }

  .gradient-border {
    border: solid 0.25em transparent;
  }
}
@media (max-width: 350px) {
  .outer-border {
    padding-inline: clamp(8px, 3vw, 9px);
  }

  body {
    font-size: 0.75em;
  }

  .menu-item {
    line-height: 8px;
  }
}
