.container main {
  display: grid;
  grid-template-columns: 18% 1fr;
  grid-template-rows: minmax(100dvh, max-content);
  gap: 2em 10%;
}

.my-icon {
  display: grid;
  place-items: center;
  transform: rotate(45deg);
  height: clamp(30px, 4dvh, 50px);
  width: clamp(30px, 4dvh, 50px);
  background: radial-gradient(circle at 70% 3%, #0f766d4f 4%, #0f766d 50%);
  justify-self: center;
  margin-top: 15px;
  border-radius: 5%;
  border: 1px solid #17c7b8;
}

.my-icon-text {
  display: grid;
  place-items: center;
  color: white;
  font-weight: 700;
  font-size: 1.1em;
  transform: rotate(-45deg);
  word-spacing: -8px;
  font-style: italic;
}

.my-icon:focus-visible {
  outline: 3px solid #111827;
  outline-offset: 3px;
}

body {
  margin: 0;
  background-color: #f7f4ee;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  height: auto;
  width: 100%;
  max-width:525px;
}
.my-pic {
  height: auto;
  max-width: 350px;
  overflow: hidden;
  right: 15em;
  bottom: 10em;
}
.smarttrip-article {
  display: flex;
  flex-direction:row;
  height: auto;
  justify-content: space-between;
}

.portfolio-right {
  display: flex;
  flex-direction:column;
}
#smart-header {
  right: 5rem;
  top: 5rem;
}

section {
  grid-column: 2;
  min-height: 100dvh;
  height: max-content;
  padding-right: 3em;
}

.sidebar-bg {
  position: fixed;
  height: 100dvh;
  width: 18%;
  grid-column: 1;
  grid-row: 1;
}

nav {
  position: fixed;
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  height: 100dvh;
  width: 18%;
  margin-left: 5%;
  background:
    radial-gradient(
      circle at 30% 20%,
      rgba(0, 150, 135, 0.295) 0%,
      rgba(0, 150, 136, 0.15) 25%,
      rgba(0, 150, 136, 0.05) 45%,
      rgba(0, 150, 136, 0) 60%
    ),
    linear-gradient(45deg, #0f766d 30%, #0f766d98 70%, #0f766d38 100%);
}

.hero-skills {
  display: inline-flex;
  border-radius: 20px;
  padding-inline: 10px;
  padding-block: 5px;
  background-color: #eeeae3;
  box-shadow: -4px 3px 5px 1px rgba(105, 100, 100, 0.6);
}

.hero-skills li {
  list-style: disc;
  margin-left: 25px;
}

main {
  grid-row: 2 / -1;
  grid-column: 2;
  background-color: #f7f4ee;
}

nav ul {
  display: grid;
  position: relative;
  place-items: center;
  top: 22dvh;
  height: 35dvh;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0;
  padding: 0;
  margin-right: 5%;
  height: 100%;
  width: 85%;
  text-align: left;
  align-items: center;
  border-top: 1px solid transparent;
}

nav ul li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.397);
}

nav ul li a {
  display: grid;
  width: 70%;
  height: 100%;
  align-content: center;
  color: white;
  padding: 0;
  margin-left: 10%;
}

.menu:hover li a {
  opacity: 0.5;
}

.menu li:hover {
  background: linear-gradient(-90deg, #0f766d11 98%, rgb(4, 212, 4) 100%);
  border-block: rgb(4, 212, 4) 1px solid;
  /*   border-top-color: transparent; */
}

.menu li:hover a {
  opacity: 1;
}

.menu li a:hover {
  opacity: 1;
  font-size: large;
}

summary {
  grid-column: var(--n) / span 1;
  grid-row: 1;
  display: grid;
  width: 100%;
  border-bottom: 2px solid;
  cursor: pointer;
  z-index: 1;
}

details[open] :is(summary, .summary) {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

details::details-content {
  padding: 1rem;
  border-bottom: 2px solid;
}

.tab {
  background-color: transparent;
  color: rgb(14, 49, 165);
  width: 100%;
  border-style: none;
  border-bottom: 2px solid lightgrey;
  height: 25px;
  padding-top: 8px;
  text-align: center;
  cursor: pointer;
}

.prof-tab {
  border-radius: 90% 0% 0% 0%;
  border-right: 1px solid;
}

.pers-tab {
  border-radius: 0% 90% 0% 0%;
  border-left: 1px solid;
}

.tab:hover {
  background-image: linear-gradient(
    to top,
    rgb(7, 245, 7),
    rgba(39, 95, 33, 0.774)
  );
  opacity: 0.7;
  color: black;
  font-weight: bold;
}

.resume-flex {
  grid-column: span 2;
  grid-row-start: 4;
  display: flex;
  flex-direction: column;
}

.resume-flex h3 {
  margin-bottom: 0;
}

span.list-subtitles {
  font-weight: 600;
}

span.h5-reduced {
  font-weight: 100;
  font-size: 0.8em;
}

.about-grid {
  grid-area: 4 / 1 / auto / span 3;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-template-rows: auto 1fr;
}

details {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / span 2;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
}

summary {
  grid-column: var(--n) / span 1;
  grid-row: 1;
  display: grid;
}

details::details-content {
  grid-row: 2;
  grid-column: 1 / -1;
}

details:not([open])::details-content {
  display: none;
}
