.container {
  justify-content: left;
  align-items: center;
  width: 100%;
  margin-block: 30px;
}

.main-menu {
  margin-bottom: 20px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0px;
}

.menu-item {
  line-height: 15px;
  padding-inline: 5px;
  margin-block: 3px;
}

.menu-item:not(:last-child) {
  border-right: 1px solid darkgrey;
}

a {
  text-decoration: none;
  color: rgb(207, 200, 200);
}

.menu-item a {
  display: inline-block;
  transition:
    transform 0.1s ease,
    color 0.1s ease;
}

.on-menu-hover:hover {
  position: relative;
  color: #5ec8ff;
  transform: scale(1.2);
}

.center-self {
  justify-self: center;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.welcome-message * {
  margin: 5px;
}

h1 {
  font-size: clamp(1.4rem, 3.2vw, 2.6rem);
}

h3 {
  font-size: clamp(0.95rem, 1.6vw, 1.2rem);
}

h2 {
  margin: 0px;
}

p a {
  color: #6495ed;
}

summary {
  grid-column: var(--n) / span 1;
  grid-row: 1;
  display: grid;
  width: 100%;
  border-bottom: 2px solid;
  cursor: pointer;
  z-index: 1;
}

details[open] :is(summary, .summary) {
  font-weight: bold;
  color: aliceblue;
}

details::details-content {
  padding: 1rem;
  border-bottom: 2px solid;
}

.tab {
  background-color: transparent;
  color: lightgrey;
  width: 100%;
  border-style: none;
  border-bottom: 2px solid lightgrey;
  height: 25px;
  padding-top: 8px;
  text-align: center;
  cursor: pointer;
}

.prof-tab {
  border-radius: 90% 0% 0% 0%;
  border-right: 1px solid;
}

.pers-tab {
  border-radius: 0% 90% 0% 0%;
  border-left: 1px solid;
}

.tab:hover {
  background-image: linear-gradient(
    to top,
    rgb(7, 245, 7),
    rgba(39, 95, 33, 0.774)
  );
  opacity: 0.7;
  color: black;
  font-weight: bold;
}

.resume-flex {
  grid-column: span 2;
  grid-row-start: 4;
  display: flex;
  flex-direction: column;
}

.resume-flex h3 {
  margin-bottom: 0;
}

span.list-subtitles {
  font-weight: 600;
}

span.h5-reduced {
  font-weight: 100;
  font-size: 0.8em;
}

.highlight {
  font-style: italic;
  color: aliceblue;
}

ul li ul li {
  font-size: smaller;
}
