.my-title {
  justify-self: right;
}

#title-last-name {
  font-style: italic;
  color: #5ec8ff;
}

.my-pic {
  max-height: 250px;
}

.resume-name {
  grid-row-start: 3;
  grid-column: span 2;
  justify-self: center;
}